.team {
    display: flex;
    justify-content: center;
    background-image: url('../../../public/img/kitchen.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    

    .team__container {
        display: flex;
        flex-direction: column;
        //justify-content: center;
        align-items: center;

        .team__title {
            color: #940c20;
            padding: 40px 0;
        }

        .team__content {
            display: flex;
            gap: 15px;

            .team__box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: white;
                border-radius: 5px;
                border: 4px solid #940c20;
                //box-shadow: 10px 5px 5px silver;
                width: 320px;

                .team__photo {
                    width: 300px;
                    height: 300px;
                    object-fit: contain;
                    border-radius: 50%;
                    background-size: cover;
                }

                .victor {
                    background-image: url('../../../public/img/team/victor.jpg');
                }

                .olga {
                    background-image: url('../../../public/img/team/olga.jpg');
                }

                .oleksandr {
                    background-image: url('../../../public/img/team/sacha.jpg');
                }

                .team__name-box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .team__name {
                        text-align: center;
                        color: #940c20;
                        margin: 10px 0;
                    }

                    .team__describe {}
                }
            }
        }
    }
}